/*********************************************************
beyondskins.Responsive - Diazo responsive theme for Plone
Simples Consultoria - www.simplesconsultoria.com.br
*********************************************************/

/* reset */
* {margin:0; padding:0; list-style:none; vertical-align:baseline;}

/* Background images - Remove this lines for a clean layout */
body {background: url(bg.jpg) top center repeat-x;}
#header {
background: transparent url(header.jpg) bottom center repeat-x;
padding: 0 5% 315px;
position: relative;
}

/****************** Basic Stuff ******************/

/* Colors and fonts */
body {
background-color: #fbeccf;
color: #000000; 
font-family: "AvantGarde Md BT", Arial, Helvetica, sans-serif; 
font-size: 62.5%; /* with this 1em = 10px */
}
a:link, #content a:link, dl.portlet a:link {color:#734f33;}
a:visited, #content a:visited, dl.portlet a:visited {color: #734f33 !important;}
#content a:hover, dl.portlet a:hover {color: #9f2200 !important;}
h1 {color: #9f2200; font-family: "AvantGarde Md BT", Arial, Helvetica, sans-serif; }
h2, h3, h4, h5, h6 {color: #734f33; font-family: "AvantGarde Md BT", Arial, Helvetica, sans-serif; }
h1, h2, h3 {margin: 0.5em 0 0.5em;}
p {line-height: 1.8em; margin: 0 0 1em 0;}
#wrapper { 
width:auto; 
margin: 0 auto; 
font-size: 1.2em;
border-top: 10px solid #9f2200;
}
#main {
background: transparent; 
font-size: 1.3em; 
padding: 1em 5%;
}

/* fix cover overlay, you can remove this lines if you dont use collective cover */
#exposeMask {z-index: 0 !important;}
.close {opacity: 0.6; text-indent: -10000px;}

/****************** HEADER ******************/

/* logo */
#logo {padding: 2% 1%; float: left; width: 50%;}
#logo img {max-width:100%;}
#logo a {display:block; width:100%;}

/* Personal tools */
#portal-personaltools {font-size: 1.2em; background: #9f2200; color: #fff;}
#portal-personaltools dd {background: #9f2200; color: #fff;}
#portal-personaltools dd a:hover {background: #734f33;}
#portal-personaltools a, #portal-personaltools a:visited, #portal-personaltools a:hover {color: #fff !important;}

/* Main navigation */
#nav {
background: transparent;
color: #fff;
font-size: 1.2em;
}
#nav a {
color: #734f33; 
padding: 0.2em 1em; 
text-decoration: none; 
min-width: 3em; 
display: inline-block;
}


/* Searchbox */
#portal-searchbox {float: right; margin-top: 3.5%;}
#portal-searchbox #searchGadget {
border: 1px solid #b49b7e; 
background: transparent; 
padding: 0.4em 1em; 
margin-right: 3px;
color: #b49b7e;
}
#searchGadget, .LSBox input.searchButton {padding: 0.1em 0.2em;}
.LSBox input.searchButton {background: #734f33; border: none; padding: 0.4em 1em; color: #fff;}
#LSResult {z-index:1; margin-top: 0.5%;}


/****************** CONTENT ******************/

/* Text styles */
.hidden {display: none;} 
.clear {clear: both;}
.pb-ajax, .pb-image, 
.overlay iframe {font-size: 1.4em;}
.portlet img, #content img {max-width:100%;}

/* lists */
#content li, dl.portlet li {
display: list-item;
line-height: 1.5em;
list-style: square outside;
margin-bottom: 0.25em;
}
#content ol li, dl.portlet ol li {list-style: decimal outside;}
dl.portlet ul.navTreeLevel0 > .navTreeItem {list-style: none;}

/****************** PORTLETS ******************/
dl.portlet dt, div.portletAssignments div.portletHeader {background: #e9d8bb;}


/****************** FOOTER ******************/

#footer {background: #734f33; color: #fff;}
#footer a:link, #footer a:visited, #footer a:hover {color: #fff !important;}
#footer {clear: left; padding: 1em 2em;}

/* Site Actions */
#portal-siteactions {text-align: left; display:inline;}


/****************** RESPONSIVE DESIGN MAGIC ******************/

#searchbt, #nav #seletor {display:none;}
#nav #seletor {color: #fff;}

@media screen and (max-width: 768px) {

	#wrapper {max-width: 100%;}
	#logo {min-width:140px;}	
	
	/*Columns*/
	#portal-column-one, 
	#portal-column-two,
	#portal-column-content {clear: both; width: 97.75%; margin-left: -98.875%;}

	/*Search*/
    #portal-searchbox  {display:none;}

	/*Global navigation*/
	#nav {padding:0;width:100%;
	}
	
	#searchbt {display:block; float:right;width:14%;}
	
	#searchbt a {
		display:block;
		text-indent: -900000px;
		padding: 1em;
		margin-top: 4%;
		background:transparent url(search-ico.png) no-repeat center center;
	}
	
	#nav #seletor {
		display:block;
		padding:1em;
		width:80%;
		background:url("sections-ico.png") no-repeat 97% 60%;
	 }
	
	#nav li {display: none;}
	
	#nav:hover li {
		display: block;
		width:100%; 
		border-top:1px solid #ffffff;;
		display:block !Important;
		padding:0;
	}
	
	#nav ul {
		width:97.5%;
		margin:0;
		padding:0;
	}
	
	#nav:hover li a {
		color: #ffffff;;
		width:100%;
		padding:0 2.5%;
		line-height: 3em;
      display: block;
      width: 95% !important;
	}
	
	#nav:hover li:hover {background: #9f2200;}
	#nav:hover li a:hover,
	#nav:hover li.selected a {background: transparent;}
	
.overlay.overlay-ajax {top: 10px !Important;}
.overlay.overlay-ajax input.searchPage {
    font-size: 200% !important;
    width: 90%;
    margin-bottom:1em;
}
.overlay.overlay-ajax input.searchPage.searchButton {width:auto;}
.overlay.overlay-ajax #searchform .discreet {text-align:left;}
.overlay.overlay-ajax #content-core strong {display:none;}

}

@media screen and (max-width: 480px) {

	#portal-breadcrumbs {display:none;}
	
	#portal-searchbox {
	    float: none;
        width:80%;
		clear:both;
		margin: 0 auto 2%;
   }
}
